# Algoritma Apriori pada Transaksi Penjualan di Toko Komputer

Dataset

---
data transaksi pembelian atau hasil penjualan di toko komputer, data terdiri dari 538 baris, dan baris pertama adalah atribut dari data sehingga total baris untuk data 537 dengan 3 kolom.

Dapat dilihat: http://bit.ly/3ouzkYt 

---

import paket yang dibutuhkan

In [28]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

input dataset

In [11]:
data = pd.read_csv('pembelian.csv')

In [12]:
data.head()

   No_Kwitansi Nama_Barang  Jumlah
0            1         cpu       7
1            1     monitor      20
2            1       mouse       4
3            2     monitor       9
4            2        meja       4

tampilkan atribut dari data, jumlah baris dan colum, serta lihat data yang null

In [13]:
data.columns

Index(['No_Kwitansi', 'Nama_Barang', 'Jumlah'], dtype='object')

In [14]:
data.shape

(537, 3)

In [15]:
data.isnull().values.any()

False

Data Transaksi

In [29]:
transaksi = data.groupby(['No_Kwitansi','Nama_Barang'])['Jumlah'].sum()

In [30]:
transaksi = transaksi.unstack().reset_index().fillna(0).set_index('No_Kwitansi')
transaksi[transaksi>0]=1

In [31]:
print('Tabel Transaksi:\n', transaksi)

Tabel Transaksi:
 Nama_Barang  cpu  flashdisk  harddisk  meja  mic  monitor  mouse  ram  speaker
No_Kwitansi
1            1.0        0.0       0.0   0.0  0.0      1.0    1.0  0.0      0.0
10           1.0        0.0       0.0   1.0  1.0      1.0    0.0  0.0      1.0
100          0.0        0.0       0.0   0.0  1.0      1.0    0.0  0.0      0.0
101          1.0        1.0       0.0   0.0  0.0      1.0    0.0  0.0      0.0
102          1.0        0.0       0.0   0.0  0.0      1.0    0.0  0.0      0.0
...          ...        ...       ...   ...  ...      ...    ...  ...      ...
87           0.0        1.0       1.0   0.0  0.0      0.0    0.0  1.0      0.0
88           1.0        1.0       0.0   0.0  0.0      0.0    0.0  0.0      1.0
89           0.0        1.0       0.0   0.0  1.0      1.0    0.0  0.0      1.0
9            1.0        0.0       0.0   0.0  0.0      1.0    1.0  0.0      0.0
90           1.0        0.0       0.0   0.0  0.0      1.0    0.0  0.0      0.0

[124 rows x 9 columns]

Bangun Model Dengan Minimum Support 0.1

In [56]:
frequent_itemsets=apriori(transaksi, min_support=0.1, use_colnames=True)
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [57]:
print('\nAssociation Rules:\n', rules[['antecedents', 'consequents', 'confidence']])

Association Rules:
                  antecedents              consequents  confidence
0                     (meja)                    (cpu)    1.000000
1                      (cpu)                (monitor)    0.814815
2                  (monitor)                    (cpu)    0.846154
3                 (harddisk)              (flashdisk)    1.000000
4                 (harddisk)                    (ram)    0.875000
..                       ...                      ...         ...
69  (speaker, meja, monitor)               (cpu, mic)    1.000000
70          (meja, cpu, mic)       (speaker, monitor)    0.937500
71      (meja, monitor, mic)           (speaker, cpu)    0.937500
72           (speaker, meja)      (monitor, cpu, mic)    1.000000
73               (meja, mic)  (speaker, cpu, monitor)    0.937500

[74 rows x 3 columns]

Bangun Model Dengan Minimum Support 0.3

In [54]:
frequent_itemsets=apriori(transaksi, min_support=0.3, use_colnames=True)
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [55]:
print('\nAssociation Rules:\n', rules[['antecedents', 'consequents', 'confidence']])

Association Rules:
   antecedents consequents  confidence
0       (cpu)   (monitor)    0.814815
1   (monitor)       (cpu)    0.846154
2   (speaker)       (mic)    0.742424
3       (mic)   (speaker)    0.875000

Bangun Model Dengan Minimum Support 0.5

In [50]:
frequent_itemsets=apriori(transaksi, min_support=0.5, use_colnames=True)
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [51]:
print('\nAssociation Rules:\n', rules[['antecedents', 'consequents', 'confidence']])

Association Rules:
   antecedents consequents  confidence
0       (cpu)   (monitor)    0.814815
1   (monitor)       (cpu)    0.846154

# SEKIAN